main.edit-profile {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    border: 1px solid #ccc;
    background: #fafafa;
    padding: 20px;
    width: 100%;
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    fieldset {
      .input-label {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: #515151;
      }
      input[type='text'],
      input[type='email'],
      select {
        display: block;
        width: 100%;
        font-size: 1rem;
        padding: 0.5em 1.25em;
      }
    }
    fieldset.checkboxes {
      grid-column: span 2;
      legend {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: #515151;
      }
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      label {
        display: inline-flex;
        gap: 10px;
        font-size: 0.9rem;
        border: 1px solid hsl(160, 100%, 37%);
        padding: 0.5em 1em;
        input {
          accent-color: hsl(160, 100%, 37%);
        }
        span {
          font-weight: 525;
        }
        color: hsl(160, 100%, 27%);
        cursor: pointer;
        &:hover {
          background: hsl(160, 100%, 27%, 12%);
        }
        input:checked {
          ~ span {
            color: hsl(160, 100%, 16%);
          }
        }
      }
    }
    .button-holder {
      grid-column: span 2;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      button {
        padding: 1px solid;
        padding: 0.5em 1.25em;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 625;
      }
      button[type='submit'] {
        background-color: hsl(160, 100%, 32%);
        color: hsl(160, 100%, 95%);
        border: 1px solid hsl(160, 100%, 22%);
      }
      button[type='reset'] {
        background-color: hsl(160, 100%, 95%);
        color: hsl(160, 100%, 18%);
        border: 1px solid hsl(160, 100%, 22%);
      }
    }
  }
}
